@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}



/* button styles */

.random-img {
    position: absolute;
    z-index: 0; /* Ensuring it is behind the text */
  }
  
  .small-img {
    width: 50px;
    height: 50px;
  }
  
  .random-img:nth-child(1) {
    top: 10%;
    left: 15%;
  }
  
  .random-img:nth-child(2) {
    top: 20%;
    right: 10%;
  }
  
  .random-img:nth-child(3) {
    bottom: 15%;
    left: 20%;
  }
  
  .random-img:nth-child(4) {
    bottom: 10%;
    right: 15%;
  }
  

   /* Card button Style */
.card16 {
  width: 180px;
  height: 264px;
  color: #000;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease-in-out;
}

.card16:hover {
  transform: scale(1.1);
}

.card16-header img {
  height: 120px;
  width: 100%;
  border-bottom-right-radius: 50%;
  display: grid;
  place-items: center;
}

.card16-details {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.card16-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 8px;
}

.card16-text {
  font-size: 12px;
  margin-bottom: 14px;
}

.card16-btn {
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  background: linear-gradient(to left, #5f03f4, #8ba5e9);
}

.card16-btn:hover {
  background: linear-gradient(to left, #9f6cf0, #5f03f4);
}

 /* Divs as balls  */

 .circle-ball {
  position: absolute;
  width: 20vw;
  height: 20vw;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-ball:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
}

.circle-ball:nth-child(2) {
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.circle-ball:nth-child(3) {
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.circle-ball:nth-child(4) {
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.circle-ball:nth-child(5) {
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.circle-ball:nth-child(6) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media (max-width: 768px) {
  .circle-ball {
    width: 30vw;
    height: 30vw;
    max-width: 80px;
    max-height: 80px;
  }
}

@media (max-width: 480px) {
  .circle-ball {
    width: 40vw;
    height: 40vw;
    max-width: 60px;
    max-height: 60px;
  }
}

/* Getting started button */

.button39 {
  width: 160px;
  height: 50px;
  /* background-color: transparent; */
  /* color: white; */
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease-in, transform 0.3s ease;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
}
.button39:before,
.button39:after {
  content: "";
  position: absolute;
  left: -100%;
  width: 200%;
  height: 100%;
  background-color: rgb(11, 92, 27);
 
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: rotate(45deg);
  transform-origin: center;
}
.button39:before {
  top: 0;
}
.button39:after {
  bottom: 0;
}
.button39:hover:before,
.button39:hover:after {
  opacity: 0.6;
  transform: rotate(0deg);
  color: white;
}

.button39:hover {
  transform: translateY(-5px);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.button39:active {
  background-color: rgb(34, 34, 34);
  color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  transform: scale(0.98);
}